/* body related styles */
body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}

/* common styles */
.color-orange {
  color: #fc6f0a;
}

section {
  margin: 100px 150px;
}

.primary-btn {
  padding: 12px 24px;
  border: none;
  color: #fff;
  font-weight: 600;
  border-radius: 5px;
  background-color: #fc6f0a;
}

.description {
  color: #474747;
  line-height: 15px;
  margin: 20px 0;
}

.font-awesome-icon {
  margin-right: 5px;
}

/* nav section related styles */
.nav-section {
  margin-top: 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-title {
  font-size: 26px;
}

.nav-bar ul {
  display: flex;
  align-items: center;
  gap: 24px;
  list-style: none;
}

.nav-bar ul a {
  text-decoration: none;
  color: black;
  font-size: 14px;
}

/* greeting section related styles */
.greeting-section {
  padding-bottom: 120px;
}

.greeting-intro {
  font-size: 32px;
  color: #474747;
}

.greeting-title {
  font-size: 44px;
}

.greeting-description {
  width: 500px;
}

.greeting-section .primary-btn {
  margin-right: 15px;
}

.greeting-section .contact-btn {
  background-color: #fff;
  border: 1px solid #fc6f0a;
  color: #fc6f0a;
}

/* header section related styles */
header {
  background-color: #fff8f2;
  background-image: url("../images/hardy.png"), url("../images/header_bg.png"),
    url(../images/developer.png);
  background-repeat: no-repeat;
  background-position: right bottom, right bottom, left 20px center;
  background-size: 30%, 45%, 5%;
}

/* about section related styles */
.about-section {
  text-align: center;
  background-color: #fff8f2;
  padding: 60px 120px;
}

.about-title {
  margin-bottom: 30px;
}

.about-info {
  display: flex;
  justify-content: space-around;
  line-height: 0px;
}

.about-info div p {
  color: #474747;
  font-size: 14px;
}

.about-info div h5 {
  font-size: 14px;
}

/* what-i-do section related styles */
.what-i-do-section {
}

.what-i-do-intro {
  padding: 60px 120px;
  text-align: center;
}

.what-i-do-skills {
  display: flex;
  gap: 70px;
}

.skill-box {
  padding: 20px 20px 0 20px;
  width: 200px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.skill-icon {
  width: 30px;
  margin-bottom: -5px;
}

.skill-title {
  margin-bottom: -5px;
}

/* resume section related styles */
.resume-section {
}

.resume-heading-title {
  text-align: center;
  margin-bottom: 40px;
}

.resume-column {
  display: flex;
  /* gap: 80px; */
  justify-content: space-around;
  color: #474747;
}

.resume-main-title {
  font-size: 20px;
}

.resume-sub-box {
  width: 400px;
}

.resume-title {
  margin: -5px 0;
}

.resume-info {
  margin: 10px 0;
}

hr {
  opacity: 0.5;
  margin: 20px;
}

.resume-section a {
  display: flex;
  margin-top: 40px;
  text-decoration: none;
  justify-content: center;
}

/* footer related styles */
.footer-section {
  background-color: #fff8f2;
  padding: 80px 160px;
  display: flex;
  gap: 100px;
}

.footer-column .description {
  width: 400px;
}

.footer-social-icons .social-icon {
  width: 24px;
  margin-right: 16px;
}

.footer-column form input[type="text"],
input[type="email"],
textarea {
  border: none;
  display: block;
  margin-bottom: 20px;
  padding: 20px;
  width: 360px;
  border-radius: 5px;
}

textarea {
  resize: none;
  height: 150px;
}
