/* body related styles */
body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}

/* common styles */
.color-orange {
  color: #fc6f0a;
}

section {
  margin: 100px 150px;
}

.primary-btn {
  padding: 12px 24px;
  border: none;
  color: #fff;
  font-weight: 600;
  border-radius: 5px;
  background-color: #fc6f0a;
}

.description {
  color: #474747;
  line-height: 15px;
  margin: 20px 0;
}

/* nav section related styles */
.nav-section {
  margin-top: 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-title {
  font-size: 26px;
}

.nav-bar ul {
  display: flex;
  align-items: center;
  gap: 24px;
  list-style: none;
}

.nav-bar ul a {
  text-decoration: none;
  color: black;
  font-size: 14px;
}

/* greeting section related styles */
.greeting-section {
  padding-bottom: 120px;
}

.greeting-intro {
  font-size: 32px;
  color: #474747;
}

.greeting-title {
  font-size: 44px;
}

.greeting-description {
  width: 500px;
}

.greeting-section .primary-btn {
  margin-right: 15px;
}

.greeting-section .contact-btn {
  background-color: #fff;
  border: 1px solid #fc6f0a;
  color: #fc6f0a;
}

/* header section related styles */
header {
  background-color: #fff8f2;
  background-image: url("../images/hardy.png"), url("../images/header_bg.png"),
    url(../images/developer.png);
  background-repeat: no-repeat;
  background-position: right bottom, right bottom, left 20px center;
  background-size: 30%, 45%, 5%;
}
